<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <display-name>QiaGuaWebsite</display-name>
  <listener>
    <listener-class>
      org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener>
  
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>people.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>people.SignServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>people.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PwdServlet</servlet-name>
    <servlet-class>people.PwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>people.FollowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>people.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdministratorServlet</servlet-name>
    <servlet-class>people.AdministratorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicServlet</servlet-name>
    <servlet-class>source.PicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArtSaveServlet</servlet-name>
    <servlet-class>source.ArtSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormTest</servlet-name>
    <servlet-class>test.FormTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadSer</servlet-name>
    <servlet-class>com.UploadSer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.ErrorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AJServlet</servlet-name>
    <servlet-class>com.AJServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestJson</servlet-name>
    <servlet-class>com.zm.servlet.TestJson.TestJson</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArtServlet</servlet-name>
    <servlet-class>source.ArtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ArtDelServlet</servlet-name>
    <servlet-class>source.ArtDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlbServlet</servlet-name>
    <servlet-class>source.AlbServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>source.CollectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThumbServlet</servlet-name>
    <servlet-class>source.ThumbServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentSaveServlet</servlet-name>
    <servlet-class>source.CommentSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>source.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Follow2Servlet</servlet-name>
    <servlet-class>people.Follow2Servlet</servlet-class>
  </servlet>

















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/SignServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PwdServlet</servlet-name>
    <url-pattern>/PwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/FollowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdministratorServlet</servlet-name>
    <url-pattern>/AdministratorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicServlet</servlet-name>
    <url-pattern>/PicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArtSaveServlet</servlet-name>
    <url-pattern>/ArtSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormTest</servlet-name>
    <url-pattern>/FormTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadSer</servlet-name>
    <url-pattern>/UploadSer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AJServlet</servlet-name>
    <url-pattern>/AJServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestJson</servlet-name>
    <url-pattern>/TestJson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArtServlet</servlet-name>
    <url-pattern>/ArtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArtDelServlet</servlet-name>
    <url-pattern>/ArtDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbServlet</servlet-name>
    <url-pattern>/AlbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/CollectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThumbServlet</servlet-name>
    <url-pattern>/ThumbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentSaveServlet</servlet-name>
    <url-pattern>/CommentSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Follow2Servlet</servlet-name>
    <url-pattern>/Follow2Servlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>