@CHARSET "UTF-8";
a{
	text-decoration: none;
	color: #838383;
}
a:hover{
	color: #7ecef4;
}
.ERROR-type{
	width: 60%;
	height: 300px;
	min-width: 500px;
	background-color: #f2f2f2;
	margin-top: 60px;
}
.ERROR-icon{
	padding-top: 20px;
	font-size: 60px;
	color: #7ecef4;
}
.ERROR-title{
	padding-top: 10px;
	color: #000000;
	font-family: "FangSong";
}
.ERROR-solution{
	font-family: "FangSong";
	margin-top: 10px;
}
