@CHARSET "UTF-8";
.result{
 width:820px;
 margin:0 auto;
}
.result .cat{
 border:1px solid #ccc;
 width: 800px;
 text-align: center;
}
.result .sc{
	width: 820px;
}
.result .sc .cur{
	width:200px;
	height: 500px;
	border:1px solid #ccc;
	float: left;
}
.result .sc .cur .xianshi p{
	float: left;
}