@CHARSET "UTF-8";
body{font-size:14px;font-family:"Microsoft YaHei";}
ul,li{list-style:none;} 
.remind{
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 150px;
    left: 150px;
    bottom: 0;
    right: 0;
    margin:0 auto;
}
.remind .remind1{
    float: left;
}
.remind .remind1 .checked{
    color: white;
    background: #7ecef4;
    width:120px;
    height: 50px;
    font-size: 18px; 
    text-align: center;
    line-height: 50px; 
}
.remind .remind1 .unchecked{
    width:120px;
    height: 50px;
    color: #838383;
    font-size: 18px;
    text-align: center;
    line-height: 50px;  
}
.remind #tab{
    float: left;
}
#tab{position:relative;}
.tabList ul li{    
    float:left; 
    color: #838383;   
    background:#7ecef4;    
    background:-moz-linear-gradient(top, #7ecef4,#7ecef4);  
    background:-o-linear-gradient(left top,left bottom, from(#7ecef4), to(#7ecef4));    
    background:-webkit-gradient(linear,left top,left bottom, from(#7ecef4),to(#7ecef4));    
    border:1px solid #ccc;    
    padding:5px 0;    
    width:150px;    
    text-align:center;    
    margin-left:-1px;    
    position:relative;    
    cursor:pointer;}
.tabCon{    
    position:absolute;    
    left:-1px;    
    top:32px;    
    border:1px solid #ccc;   
    border-top:none;    
    width:602px;    
    height:100px;}
#tab .tabCon div{    
    padding:10px;    
    position:absolute;    
    opacity:0;    
    filter:alpha(opacity=0);}
#tab .tabList li.cur{    
    border-bottom:none;    
    background:#fff;
    color:#838383;}
#tab .tabCon div.cur{    
    opacity:1;    
    filter:alpha(opacity=100);}