@CHARSET "UTF-8";
a{
	text-decoration: none;
}
.checked{
	color: #7ecef4;
}
.unchecked{
	color: #838383;
}
.LOGO{
	margin-top: 20px;
	width: 150px;
	height: 60px;
	padding-buttom: 20px;
}
.name-img{
	width: 150px;
	height: 60px;
}
.From{
	padding-top: 10px;
}